* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2rem;
  background-color: darkgray;
  margin: 5rem auto;
  width: 50%;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  color: white;
  margin: 1rem;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.toggle {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1rem;
}
.controlForm {
  margin: 1rem;
  width: 100%;
  padding: 0 3rem 0 3rem;
}
input {
  width: 100%;
  display: block;
  padding: 10px;
}
.submit {
  width: 100%;
}
